/*  CSS STYLE
    BY @PokegirlMiki  */

/* PAGE STYLING */

* {
margin: 0;
font-family: 'Titillium Web', sans-serif;
}

body{
  padding: 0;
  background-image: url("../images/Backgrounds/Background.png");
  background-size: cover;
  background-repeat: repeat-y;
}

background: url(image url) 

/* FONT STYLING */

a{
    text-decoration: none;
}

h1{
  text-align: center;
  font-size: 4em;
  color: #ffffff;
  text-shadow: 3px 3px 4px #000000;
}

h2{
  font-size: 2em;
  color: #ffffff;
  text-align: center;
  text-shadow: 3px 3px 4px #000000;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 130px;
  background-color: #ffffff;
  color: #000000;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: 85%;
  left: 50%;
  margin-left: -60px;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

/* IMAGE SYLING */

#headerimage{
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  z-index: 8;
}

#aviimage, #baeimage{
  height: 200px;
  width: 200px;
  padding: 5px;
  border-radius: 100%;
}

#aviimage:hover, #baeimage:hover{
    opacity: 0.9;
}

#socialimage:hover{
  opacity: 0.5;
}

#socialimage{
  align-content: center;
  height: 50px;
  width: 50px;
  margin: 30px;
}

/* INDEX STYLING */

.avicontainer{
  position: absolute;
  height: 210px;
  width: 210px;
  top: 25%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 25px rgba(0,0,0,0.75);
  border-radius: 100%;
  background-color: #ffffff;
  z-index: 9;
}

.socialarea{
  position: absolute;
  top: 70%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}

/* BAE STYLING */

.baearea{
  position: fixed;
  top: 70%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  z-index: 5;
}

#countup, #countuptwo{
  position: relative;
  top:75%;
}
